
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #212121;
    color: #ededed;
    font-family: 'Handlee', cursive;
    font-size: clamp(.75em, 1vw + 1vh, 1.25em);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header,
footer {
    text-align: center;
    padding: 1em;
}

h1 {
    font-family: 'Gochi Hand', cursive;
    font-size: 3em;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;
    padding: 1em;
}

figure {
    display: grid;
    grid-template-rows: auto 1fr;
    aspect-ratio: 3 / 2;
    position: relative;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    cursor: pointer;
}

figure.show {
    opacity: 1;
    transform: translateY(0);
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
}

figure:hover img {
    transform: scale(1.05);
}

figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(33, 33, 33, 0.7);
    padding: 0.5em;
    color: gold;
    opacity: 0;
    transition: opacity 0.3s;
}

figure:hover figcaption {
    opacity: 1;
}

a {
    color: gold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer p {
    margin: 1em 0;
}

/* Zoom overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border: 5px solid #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

/* Close button */
.overlay .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}
